<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipes</button>
  </div>
</div>
<div class="row my-2">
  <div class="col-12">
    <div class="list-group">

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let recipe of recipes">
      <div class="float-left">
        <div class="list-group-item-heading">{{recipe.name}}</div>
        <p class="list-group-item-text">{{recipe.description}}</p>
      </div>
      <span class="float-right">
        <img [src]="recipe.imagePath" alt="" class="img-fluid" style="max-height: 50px">
      </span>
      </a>


    </div>

    <app-recipe-item></app-recipe-item>
  </div>
</div>
